@container (width > 400px) {
  h2 {
    font-size: 1.5em;
  }
}

@container (width < 650px) {
  .card {
    width: 50%;
    background-color: gray;
    font-size: 1em;
  }
}

@container summary (min-width: 400px) {
  .card {
    font-size: 1.5em;
  }
}

@container summary (min-width: 400px) {
  @container (min-width: 800px) {
    .card {
      font-size: 1.5em;
    }
  }
}

@container summary (min-width: 400px) {
  @container (min-width: 800px) {
    @container (min-width: 900px) {
      .card {
        font-size: 1.5em;
      }
    }
  }
}