@charset "UTF-8";

/* Set the encoding of the style sheet to Unicode UTF-8 */

@charset 'iso-8859-15';

/* Set the encoding of the style sheet to Latin-9 (Western European languages, with euro sign) */
