:host {
  --test-margin: 30px;
  --test-padding: 20px;
}

.test-custom {
  margin: 20px;
  &__test {
    margin: var(--margin, 5px 10px);
    grid-template-rows: var(--cx-grid-template-row, repeat(7, auto) 1fr);
  }

  .p {
    color: red;
  }

  #test {
    padding: 10px;
  }

  span {
    zoom: 1;
  }

  &:hover {
    height: 10px;
  }
}
